<!DOCTYPE html>
<html>
    <head>
        <%- include('head', {}); %>
    </head>
    <body>
        <%- include('header', {}); %>
        <div class="content">
            <% if (component) { %>
            <p>Manufacturer Part Number: <%= component.manufacturerPartNumber %></p>
            <% if (manufacturer) { %>
            <p>Manufacturer: <a href="/manufacturer/<%= manufacturer.id %>"><%= manufacturer.name%></a></p>
            <% } %>
            <% } %>
        </div>
        <%- include('footer', {}); %>
    </body>
</html>
