<!DOCTYPE html>
<html>
    <head>
        <%- include('head', {}); %>
    </head>
    <body>
        <%- include('header', {}); %>
        <div class="content">
            <div class="manufacturer">
                <% if (manufacturer) { %>
                <div class="pure-g">
                    <div class="pure-u-1-5 avatar">
                        <img width="80px" height="80px">
                    </div>
                    <div class="pure-u-2-3">
                        <h3><%= manufacturer.name %></h3>
                        <p style=""><%= manufacturer.description %></p>
                        <p><a href="http://<%= manufacturer.website %>"><%= manufacturer.website %></a></p>
                    </div>
                </div>

                <div class="pure-menu pure-menu-horizontal submenu submenu-manufacturer">
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item">
                            <a class="pure-menu-link" href="/manufacturer/<%= manufacturer.id %>/components">
                                <i class="fas fa-microchip"></i>&nbsp;Components
                            </a>
                        </li>
                        <li class="pure-menu-item">
                            <a class="pure-menu-link" href="/manufacturer/<%= manufacturer.id %>/settings">
                                <i class="fas fa-cog"></i>&nbsp;Settings
                            </a>
                        </li>
                    </ul>
                </div>

                <% switch (pageType) {

                case 'components': %>
                <% if(components) { %>
                <table class="pure-table" width="100%">

                    <thead>
                    <tr align="center">
                        <th></th>
                        <th>Manufacturer Part Number</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% components.forEach((component, position) => { %>
                    <tr <% if (position % 2) { %>class="pure-table-odd"<% } %>>
                        <td align="center"><img width="25px" height="25px"></td>
                        <td><a href="/component/<%= component.uuid %>"><%= component.manufacturerPartNumber %></a></td>
                        <td align="center">*type*</td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>
                <% } %>
                <% break;

                case 'settings': %>
                <form class="pure-form pure-form-stacked">
                    <fieldset>
                        <legend>Settings</legend>

                        <label for="name">Name</label>
                        <input class="pure-input-1" id="name" type="text" placeholder="Name" value="<%=manufacturer.name%>" required>
                        <span class="pure-form-message">This is a required field.</span>

                        <label for="website">Website</label>
                        <input id="website" class="pure-input-1" type="text" placeholder="Website" value="<%=manufacturer.website%>">

                        <label for="description">Description</label>
                        <textarea class="pure-input-1" id="description" placeholder="Description" style="resize: none"><%=manufacturer.description%></textarea>

                        <button type="submit" class="pure-button pure-input-1 pure-button-primary" disabled>Save</button>
                    </fieldset>
                </form>
                <% } %>

                <% } %>
            </div>
        </div>
        <%- include('footer', {}); %>
    </body>
</html>
