<!DOCTYPE html>
    <head>
    </head>
    <html>
        <%- include('head', {}); %>
    <body>
        <%- include('header', {}); %>
        <div class="content">
            <!--TODO: force saving current search type-->
            <form class="pure-form" accept-charset="UTF-8" method="get" action="/search?type=users">
                <input name="q" type="text" class="pure-input-rounded pure-input-1-2" placeholder="Search" value="<%=query%>">
            </form>
            <!--TODO: add padding in css-->
            <br>
            <div class="pure-menu pure-menu-horizontal organization-submenu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a class="pure-menu-link" href="/search?type=projects&q=<%=query%>"><i class="fas fa-book"></i>&nbsp;Projects</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" href="/search?type=teams&q=<%=query%>"><i class="fas fa-users"></i>&nbsp;Teams</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" href="/search?type=organizations&q=<%=query%>"><i class="fas fa-building"></i>&nbsp;Organizations</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" href="/search?type=users&q=<%=query%>"><i class="fas fa-user"></i>&nbsp;Users</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" href="/search?type=manufacturers&q=<%=query%>"><i class="fas fa-industry"></i>&nbsp;Manufacturers</a></li>
                </ul>
            </div>
            <!--TODO: add padding in css-->
            <br>

            <% if (pageType === "projects") { %>

            <% } %>

            <% if (pageType === "teams") { %>

            <% } %>

            <% if (pageType === "organization") { %>

            <% } %>

            <% if (pageType === "users") { %>
            <% if(users !== null) { %>
            <ul>
            <% users.forEach((user) => { %>
                <div class="pure-g">
                    <div class="pure-u-1-3"><img width="25px" height="25px" src="" style="background-color: #aaaaaa"></div>
                    <div class="pure-u-2-3"><a href="/user/<%=user.username%>"><%=user.username%></a></div>
                </div>
            <% }); %>
            </ul>
            <% } %>
            <% } %>

            <% if (pageType === "manufacturers") { %>

            <% } %>

        </div>
        <%- include('footer', {}); %>
    </body>
</html>
