<!DOCTYPE html>
<html>
    <head>
        <%- include('head', {}); %>
    </head>
    <body>
        <%- include('header', {}); %>
        <div class="content">
            <% if (user) { %>
            <div class="pure-g">
                <div class="pure-u-1-3">
                    <a href="#"><h4><s>*Type1*</s></h4></a>
                    <a href="#"><h4><s>*Type2*</s></h4></a>
                    <a href="#"><h4><s>*Type3*</s></h4></a>
                </div>
                <div class="pure-u-2-3">
                    <form class="pure-form pure-form-stacked">
                        <fieldset>

                            <!--TODO: Add avatar of user support in DB-->
                            <img width="80px" height="80px" src="">
                            <div class="pure-control-group">
                                <label for="file">Choose image to upload</label>
                                <input class="pure-input-1" type="file" name="picField" id="picField" size="24" onchange="preview_2(this);" alt=""/>
                            </div>

                            <div class="pure-control-group">
                                <label for="name">Username</label>
                                <input class="pure-input-1" id="name" type="text" placeholder="Username" value="<%=user.username%>">
                                <span class="pure-form-message-inline">This is a required field.</span>
                            </div>

                            <div class="pure-control-group">
                                <label for="regEmail">Email Address</label>
                                <input class="pure-input-1" id="regEmail" type="email" placeholder="Email Address" value="<%=user.regEmail%>">
                                <span class="pure-form-message-inline">This is a required field.</span>
                            </div>

                            <div class="pure-control-group">
                                <label for="name">Name</label>
                                <input class="pure-input-1" id="name" type="text" placeholder="Name" value="<%=user.forename%>">
                            </div>

                            <div class="pure-control-group">
                                <label for="surname">Surname</label>
                                <input class="pure-input-1" id="surname" type="text" placeholder="Surname" value="<%=user.surname%>">
                            </div>

                            <div class="pure-control-group">
                                <label for="pubEmail">Public email</label>
                                <input class="pure-input-1" id="pubEmail" type="email" placeholder="Public email" value="<%=user.pubEmail%>">
                            </div>

                            <div class="pure-control-group">
                                <label for="password">Password</label>
                                <input class="pure-input-1" id="password" type="password" placeholder="Password" value="<%=user.password%>">
                                <span class="pure-form-message-inline">This is a required field.</span><br>
                            </div>

                            <button type="submit" class="pure-button pure-input-1 pure-button-primary">Submit</button>
                        </fieldset>
                    </form>
                </div>
            </div>

            <!--<% if (user.fbLink) { %>-->
            <!--<a href="http://<%= user.fbLink %>"><i class="fa-2x fab fa-facebook"></i></a>-->
            <!--<% } %>-->
            <!--<% if (user.ghLink) { %>-->
            <!--<a href="http://<%= user.ghLink %>"><i class="fa-2x fab fa-github"></i></a>-->
            <!--<% } %>-->
            <!--<i class="fab fa-vk"></i>-->
            <% } %>
        </div>
        <%- include('footer', {}); %>
    </body>
</html>
