<!DOCTYPE html>
<html>
    <head>
        <%- include('head', {}); %>
    </head>
    <body>
        <%- include('header', {}); %>
        <div class="content">
            <% if (users) { %>
            <table class="pure-table" width="100%">
                <thead>
                    <tr align="center">
                        <th></th>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Role</th>
                        <th>2FX</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(function(user, position) { %>
                    <tr <% if (position % 2) { %>class="pure-table-odd"<% } %>>
                        <td align="center"><img width="25px" height="25px" style="background-color:wheat"></td>
                        <td><a href="/user/<%= user.username.toLowerCase() %>"><%= user.username %></a></td>
                        <td><%= user.forename %></td>
                        <td><%= user.surname %></td>
                        <td align="center"></td>
                        <td align="center"></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            <% } else { %>
            <p>Couldn't load any users data</p>
            <% } %>
        </div>
        <%- include('footer', {}); %>
    </body>
</html>
